{% extends 'base.html' %}
{% block content %}

<div class="container">
        <h1>About</h1>
        <p clas="row">
                With nearly everyone using the web as their first source, getting your business online and into the cloud is a goal that is attainable. Toolsfor thecloud offers all the tools needed to get your company online very quickly and easily.

                A domain is your key to doing business around the world - right from your office, living room or your couch. Finding the right name is as easy as a domain name search at Tools for the cloud. Just enter the domain you want in the search box and we'll give you the results, along with similar domains you may not have considered. Most importantly, Toolsforthecloud isn't just about domain names; it's a one-stop shop for anything you need to get online. From building your own website to attracting new customers to securing their data when they make a purchase, Tools for the cloud has you covered from the moment you decide you want to put your business on the Web.
        </p>      
</div>
{% endblock content %}