<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
      <title>TFTC - {{ title }}</title>
    {% else %}
      <title>Tools for the cloud</title>
    {% endif%}
    {% include 'bootstrap-header.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}{% endblock content %}
    {% include 'footer.html' %}}
    {% include 'bootstrap-footer.html' %}
  </body>
  </html>