<!--  use page header to create a line seperation -->
<div class="page-header">
</div>
<!--  use page header to create a line seperation -->

<div class="container">
    <div class="footer">
        <p>&copy; 2014 - 2020 Tools for the Cloud</p>
    </div>
</div>