{% extends 'base.html' %}
{% block content %}
<!--- Begin content --->
<div class="jumbotron">
    <div class="container">
            <h1 class="text-center"> Establish your online presence <span class="fa fa-globe fa-fw fa-2x"></span></h1>
          </div>
  
            <form class="text-center" action="https://www.secureserver.net/domains/search.aspx?checkAvail=1&amp;prog_id=495959&pl_id=495959" method="post">
              <input type="text" name="domainToCheck" class="lead"/>
              <select name="TLD">
                <option selected="selected" value=".COM">.com</option>
                <option value=".NET">.net</option>
                <option value=".ORG">.org</option>
                <option value=".CO">.co</option>
                <option value=".CA">.ca</option>
                <option value=".US">.us</option>
                <option value=".JM">.jm</option>
                <option value=".GB">.gb</option>
              </select>
              <input value="Search" name="submit" type="submit">
            </form>
            <p class="text-center">
              Start your journey by searching for your domain
            </p>
          </div>
        </div>
  
    </div>
  </div>
  
  <div class="container">
        <div class="row">
  
          <div class="col-lg-4">
            <h2> Hosting</h2>
            <p class="text-primary">Industry-standard cPanel or Parallels® Plesk control panels, free 24/7 phone or online support and 99.9% uptime* and money-back guarantees*</p>
            <p>Fast reliable hosting that grows your business.</p>
            <p><a class="btn btn-primary" href="https://www.secureserver.net/hosting/web-hosting_4.aspx?ci=83725&prog_id=495959" role="button">View details &raquo;</a></p>
          </div>
  
          <div class="col-lg-4">
            <h2>Managed Wordpress</h2>
            <p>You create your own dynamic site. We manage your setup, backups and security </p>
            <p>Host your website on the platform built expressly to optimize WordPress, with high-performance coolness like load-balanced servers and SSD drives.</p>
            <p><a class="btn btn-primary" href="https://www.secureserver.net/hosting/wordpress.aspx?ci=43232&prog_id=495959" role="button">View details &raquo;</a></p>
         </div>
  
          <div class="col-lg-4">
            <h2>Marketing</h2>
            <p>Now that you have your online presence, you need to drive more customers to your site. Use Tools for the cloud expert markeing plan to get you there.</p>
            <p><a class="btn btn-primary" href="https://www.secureserver.net/search-engine/seo-services2.aspx?prog_id=495959&pl_id=495959" role="button">View details &raquo;</a></p>
          </div>
  
        </div>
  </div>
<!--- End content --->
{% endblock content %}