<!--- begin Navigation header --->
<div class="container">
  <!--- Begin container --->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                  <a class="navbar-brand" href="index.html">Tools for the Cloud</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                  <li class="active"><a href="about.html">About</a>
                  <li class="active"><a href="https://www.secureserver.net/hosting/vps-hosting.aspx?ci=1784&prog_id=495959">VPS</a>
                  <li class="active"><a href="https://www.secureserver.net/hosting/web-hosting_4.aspx?ci=83725&prog_id=495959">Web Hosting</a></li>
                  <li class="active"><a href="https://www.secureserver.net/hosting/website-builder2.aspx?ci=1806&prog_id=495959">Web Design</a></li>
                  <li class="active"><a href="https://www.secureserver.net/email/email-hosting.aspx?ci=12940&prog_id=495959">Email Plans</a></li>
                  <li class="active" class="fa fa-sign-in"><a href="https://sso.secureserver.net/?plid=495959">Login</a></li>
                </ul>
      </div> 
    </div>
  </nav>
  <!--- End container --->
</div>
<!--- end Navigation header --->